@font-face {
	font-family: 'Hilda Sonnenschein';
	src: url(http://dl.dropbox.com/u/8348124/Hilds___.ttf);
}

@base-color: hsl(45, 10%, 50%);
@black: hsl(0, 100%, 100%);
@white: hsl(0, 100%, 100%);

.transition (@transition) {
     -moz-transition: @transition;
       -o-transition: @transition;
  -webkit-transition: @transition;
          transition: @transition;
}
.border-radius(@radius: 5px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
   -moz-background-clip: padding; 
-webkit-background-clip: padding-box; 
  		background-clip: padding-box; 
}
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

html {
	height: 100%;
 	background: @white;
}
body {
	padding: 20px;
	margin: 0 auto;
	margin-top: 50px;
	/*background-image: url(../../images/layout/background.jpg);*/
	background-repeat: no-repeat;
	background-position: center;
	color: @base-color;
}

::-moz-selection{ background: hsl(0, 0%, 40%); color: @white; }
::selection { background: hsl(0, 0%, 40%); color: @white; }

h1,
h2,
h3,
li,
a,
label,
input,
textarea {
	font-family: 'Rochester', cursive;
	font-style: normal;
	font-weight: 400;
	text-transform: none;
	text-decoration: none;
	line-height: 1.5;
	color: @base-color;
	width: inherit;

	/*text-shadow: 0 0px 1px hsl(0, 0%, 50%);*/
}
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h3 { text-decoration: underline; }
a,
li,
label,
input,
textarea {
	font-size: 22px;
	letter-spacing: 0.1em;
	word-spacing: 0.1em;
}
input,
textarea { font-size: 18px; }
ul { list-style: none; padding: 0; margin: 0; }
a { 
	text-decoration: none;
	
	.transition(
		color 0.3s ease
	);
}
a:visited { color: @base-color; }
a:hover { color: hsl(0, 0%, 60%); text-decoration: underline; }
a:active { position: relative; top: 1px; }

nav { text-align: right; }

label { 
	display: block; 
	float: inherit;
	text-align: inherit;
}

table { width: 100%; }

.create,
.view,
.edit,
.delete,
.script,
.status-green,
.status-yellow,
.status-red {
	display: inline-block;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
}
table .create,
table .view,
table .edit,
table .delete,
table .script,
table .status-green,
table .status-yellow,
table .status-red {
	margin: 5px;
}
.create { background: url(../../images/icons/new.png); }
.view { background: url(../../images/icons/view.png); }
.edit { background: url(../../images/icons/edit.png); }
.delete { background: url(../../images/icons/delete.png); }
.script { background: url(../../images/icons/script-code.png); }
.status-green { background: url(../../images/icons/status-green.png); }
.status-yellow { background: url(../../images/icons/status-yellow.png); }
.status-red { background: url(../../images/icons/status-red.png); }

.header,
.status-green,
td .status-yellow,
td .status-red { text-align: center; }

.table-title { width: 40%; }
.table-actions { width: 15%; }
.table-status { width: 5%; }
.table-date { text-align: center; width: 12%; }

input[type=text],
input[type=file],
textarea {
	width: 600px;
}
textarea {
	height: 200px;
}

#book {

	display: none;

	.book-cover,
	.book-inside,
	.book-back {}	

	.book-cover,
	.book-back { width: 714px; height: 1024px; }
	.book-cover {
		background-image: url(../../images/layout/book-cover.png);
		padding-bottom: 30px;
		background-repeat: no-repeat;
	}
	.book-back {
		background-image: url(../../images/layout/book-back.png);
		padding-top: 30px;
	}

	.book-inside {
		display: inline-block;
		text-align: left;
		background-image: url(../../images/layout/book-inside.png);
		width: 1500px;
		height: 1024px;

		.code {
			font-size: 12em;
			font-family: 'Hilda Sonnenschein';
			line-height: 0em;
		}
		.code,
		.exposition,
		.label,
		.choix {
			color: black; 
			text-shadow: inherit;
			display: none;
		}
		.exposition span {
			display: none;
		}
		.label,
		.code {
			color: #222; 
			text-align: center;
		}
		.label {
			font-size: 2em;
		}
		.left-page,
		.right-page {
			display: inline-block;
			margin-top: 100px;
			width: 580px;
			float: left;
		}
		.left-page {
			margin-left: 120px;
		}
		.right-page {
			margin-left: 80px;	
		}
	}
}

.center { text-align: center; }
.block-center { margin: 0 auto; }
.info { font-style: italic; }
table .info { text-align: center; }

a.btn { width: 35px; }

.form_error:after {
	color: red;
	content: "✗";
}
.form_ok:after {
	color: green;
	content: "✓";
}

.topbar .brand {
	float: left;
	display: inline;
	margin: 5px 0;
	padding: 5px;
	font-size: 30px;
	width: 250px;
}
.topbar .credentials {
	text-align: right;

	a {
		font-size: 18px;
		color: #BFBFBF;
	}
}

#login-container,
#register-container {
	margin: auto;
	width: 240px;
	height: 100px;
	background: #FAFAFA;
	padding: 1em 2em 2em 2em;
	border: 1px solid #E6E6E6;
	
	.border-radius();
	.box-shadow(1px 1px 1px #e6e6e6);

	input {
		width: 230px;
	}
	input[type=submit] {
		width: 240px;
	}
}

#register-container {
	height: 140px;
}

.page-header {
	background-color: whiteSmoke;
	padding: 20px 20px 10px;
	margin: -20px -20px 20px;
}

.content {
	padding: 0 20px 20px 20px;
	
	.box-shadow(0 1px 2px rgba(0,0,0,.15));
	.border-radius(0 0 6px 6px);
}

footer {
	height: 100px;
	background: #eee;
	border-top: 1px solid #DDD;
	text-align: center;

	p {
		text-shadow: -1px -1px -1px white;
	}
	
}